__pycache__/
manuals
error_device_logs
build/
dist/
.update_package.sh.swp
.eggs/
sciopy.egg-info/
.ipynb_checkpoints

developing.ipynb
update_package.sh
update_test_pypi.sh
tst_smpls
.vscode
3dgeo
3dgeo/*
32_electrodes.ipynb
examples/npz_to_csv_enderstat.py
examples/npz_to_csv.py
examples/measuremet_16/*
examples/measuremet_32/*
sciopy/eth_*
Driver
ISX3-dev.ipynb
